*{
    font-family: 'Nunito', sans-serif;
}



.navbar li .bi {
    font-size: 1.5rem;
}

.shdw {
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.top-nav .img-container {
    width: 60px;
    height: 60px;

}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fa-circle {
    font-size: 6px;
}

.fa-check {
    font-size: 18px;
    color: #00a896;
}

.txt-success {
    color: #00a896
}

.img-container img{
    width: 60px;
}

.input-gp {
    position: relative;
}

.input {
    width: 100%;
    border: 1.2px solid gray;
    border-radius:5px;
    padding : 1rem;
    font-size: 1rem;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.label {
    position: absolute;
    left: 15px;
    font-weight: 600;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus{
  outline: none;
  border: 2px solid #3a0ca3;
}

.input:focus ~ .label,input:valid ~ .label  {
    transform: translateY(-50%) scale(0.8);
    background-color: white;
    padding: 0.4em;
    font-weight: 600;
    color :#3a0ca3
}

.validation-text span {
    margin: 3px 0;
}



.form-check-input , .form-check-label {
    cursor: pointer;
}

.answer-input {
    width: 100%;
    padding: .5em 1em;
    border-radius: 10px;
    border: 1.2px solid #2228316e;
}

.answer-input:focus {
    outline-width: 1em;
    outline-color: #4A54CF;
    /* border: 2px solid #4A54CF; */
}

.preview-container {
    max-height: 610px;
}

.preview-heading {
    position: sticky;
    top: 0;
    /* background-color: #FFFFFF; */
    /* border: 2px solid #222222; */
    z-index: 2;
  }
  
  .preview-form {
    position: relative;
    z-index: 1;
    margin-top: 18px;
  }


  .input-icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28px;
    transform: translateY(25%);
}
  
@media only screen and (max-width: 767px) {
    
}

/* for dark mode answer check  */

.bg-image-light {
    background: url(../images/bg-light.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-dark {
    background: url(../images/bg-dark.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-body-dark {
    color: #fff;
    background-color: rgba(60, 64, 67, 0.3);
    backdrop-filter: blur(10px);
}

.btn-answer-check-dark {
    background-color: rgba(255, 255, 255, 0.8);
    color: #222222;
    font-weight: 800;
    border: 0;
    transition: .5s;
}

.btn-answer-check-dark:hover, .btn-answer-check-dark:disabled {
    border: 1px solid #fff;
    background-color: #222222;
    color: #fff;
}




.answer-input-dark {
    background-color: #686f786e;
    width: 100%;
    color: #fff;
    border: 0;
    padding: .5em 1em;
    border-radius: 10px;
    transition: .3s;
}

.answer-input-dark:focus {
    border: 0;
    outline-width: 0px;
    outline-color: #e3e3e3;
    background-color: rgba(65, 69, 75, 0.431);
}

.bg-muted {
    color:#fff;
    background-color: #686f786e;
}

.mt-10{
    margin-top: 100px;
}

.bg-right {
    background-color: #00a896 ;
}

.bg-wrong {
    background-color: #c73730;
}