$primary : #4A54CF;
$secondary : #73767A;
$success : #80B918;
$warning : #9067C6;
$info : #70C1B3;
$danger : #ef233c;
$light : #EEEEEE;
$dark : #222831;

@import "../node_modules/bootstrap/scss/bootstrap";
